## Build generated
build/
DerivedData/

## Locally installed Pods
Pods/

# Carthage/Checkouts
Carthage/Build/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Obj-C/Swift specific
*.hmap

## User settings
xcuserdata/
.DS_Store
**/*/.DS_Store

## Amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
amplify-debug.json
amplify-production.json
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig

## Certificates
Certificates/

## Database Backup
db_backup/
